:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    color: #FFF;
}

/** Header Start */
header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    /* Test color. */
    /* background-color: red; */
    /* Test color. */
}

header h1 {
    font-size: 2.5rem;
    font-size: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#form {
    display: flex;
}

input,
button {
    /*? appearance:; CSS özelliği, işletim sisteminin temasını temel alan UI kontrollerinin yerel görünümünü kontrol etmek için kullanılır . */
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#newGoals {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#newGoals::placeholder {
    color: var(--gray);
}

#newGoalsSubmit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    /*? Arka plandaki gradient rengi yazının üstüne geçirmek için kullanıldı. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*? Arka plandaki gradient rengi yazının üstüne geçirmek için kullanıldı. */
    cursor: pointer;
    transition: .4s;
}

#newGoalsSubmit:hover {
    opacity: .8;
}

#newGoalsSubmit:active {
    opacity: .6;
}

/** Header End */

/** Main Start */
main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.goalsList {
    padding: 1rem;
}

.goalsList h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#goals .goal {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#goals .goal .content {
    /*? Listeye eklenen uzun yazıların input alanına tam sıgması için yazıldı.  */
    flex: 1 1 0%;
}

#goals .goal .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: .4s;
}

#goals .goal .content .text:not(:read-only) {
    color: var(--pink);
}

#goals .goal .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.goal .actions button {
    cursor: pointer;
    margin: 0 .5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: .4s;
}

.goal .actions button:hover {
    opacity: .8;
}

.goal .actions button:active {
    opacity: .6;
}

.goal .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goal .actions .delete {
    color: crimson;
}

/** Main Start */